*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    padding: 10em 10em;
    background-image: url(/img2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: 100% 20%;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: space-between;
}

.container{
    width: 500px;
    height: 400px;
    background-color: rgba(255,255,255,0.1);
    padding: 50px;
    border: 2px solid transparent;
    color: #000;
    border-radius: 9px;
    backdrop-filter: blur(50px);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
    line-height: 1.5;
    transform: translateY(-5%);
    transition: transform 0.5s;

}

.container h1{
    font-size: 1.5rem;
    text-align: center;
}

.container h2{
    font-size: 1rem;
    margin-top: 20px;
}

.chatBox{
    width: 100%;
    height: 70px;
    overflow: hidden;
    margin-top: 40px;
}

.chatBox input{
    width: 100%;
    height: 70px;
    border: none;
    padding-left: 30px;
    padding-top: 0;
    outline: none;
    font-size: 1.5rem;
    border-radius: 20px;
}

.container p{
    font-size: 1.6rem;
    margin-top: 30px;
}